.element {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  max-width: 282px;
  list-style: none;
}
.element__image {
  width: 282px;
  height: 282px;
  border-radius: 15px 15px 0 0;
}
.element__group {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 31px;
  max-width: 282px;
  font-size: 24px;
  line-height: 29px;
}
.element__name {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  padding-left: 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;
  margin: 0;
}
.element__like-button {
  width: 21px;
  height: 19px;
  margin-top: 5px;
  margin-right: 15px;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-width: 0;
  border-radius: 0;
}
.element__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
.element__button_liked {
  background-image: url("../images/like-active.svg");
}
