.footer {
  max-width: 880px;
  width: 100%;
  margin-top: 68px;
  text-align: start;
}
.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 910px) {
  .footer {
    max-width: calc(282px * 2 + 20px);
  }
}
@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    margin-top: 0;
  }
}
