.profile {
  margin: 0 auto 50px auto;
  display: flex;
  box-sizing: border-box;
  max-width: 880px;

  width: 100%;
}
.profile__image {
  max-width: 168px;
  max-height: 127px;
}
.profile__info {
  color: #fff;
  margin: 22px 0 21px 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.profile__info-title {
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 373px;
  font-weight: 500;
}
.profile__info-class {
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 373px;
}
.profile__edit-button {
  margin-right: 165px;
  max-width: 24px;
  max-height: 24px;
  margin-top: 16px;
  align-self: center;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.profile__add-button {
  background-color: transparent;
  background-image: url("../images/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  padding: 25px 75px;
  max-height: 50px;
  border: solid 2px #fff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  cursor: pointer;
  margin: auto 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 910px) {
  .profile__info-title {
    max-width: 282px;
    font-size: 32px;
    line-height: 35px;
  }
  .profile__edit-button {
    margin: 0;
  }
}

@media screen and (max-width: 910px) {
  .profile {
    max-width: calc(282px * 2 + 20px);
  }
}
@media screen and (max-width: 620px) {
  .profile {
    margin: 0 auto;
    flex-direction: column;
    max-width: 282px;
  }
  .profile__info {
    margin: 0 auto 36px auto;
    justify-content: center;
    column-gap: 0;
  }
  .profile__image {
    margin: 0 auto 26.25px auto;
  }
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    margin-left: 15.25px;
  }
  .profile__info-title {
    max-width: 196px;
    font-size: 22px;
    line-height: 26.63px;
  }
  .profile__info-class {
    text-align: center;
    font: 14px;
    line-height: 17px;
  }
  .profile__add-button {
    text-align: center;
    max-width: 282px;

    padding: 25px 141px;
    margin: 0 auto;
  }
}
