.header {
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  margin: 45px auto 0 auto;
  line-height: 0;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}
.header__image {
  max-width: 173px;
  width: 100%;
  padding-bottom: 41px;
}

@media screen and (max-width: 910px) {
  .header {
    max-width: calc(282px * 2 + 20px);
  }
}
@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
  }
  .header__image {
    max-width: 126px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}
